.CommentForm {
  margin-top: 40px;
  margin-bottom: 104px;
  textarea {
    width: 100%;
    background: #ffffff;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
  }

  .form-text {
    margin-bottom: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;

    color: #1e1d20;

    mix-bslend-mode: normal;
    opacity: 0.5;
  }

  .comment-input {
    height: 146px;
  }

  .name-input {
    height: 46px;
  }

  .form-text-name {
    margin-top: 16px;
  }

  .publish-button {
    margin-top: 32px;
    border-radius: 28px;
    border-style: hidden;
    background: #1e1d20;
    padding: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    width: 210px;
    text-align: center;
    opacity: 0.2;
    color: #ffffff;

    &-ok {
      background: #003eff;
      opacity: 1;
    }
  }
}
