@import "../../../common/variables";

.ArticleCard {
  width: 100%;
  height: auto;
  margin-bottom: 48px;
}

.ArticleCard-img {
  background: grey;
  max-width: 100%;
  min-height: 24vw;
  margin-bottom: 8px;
}

.ArticleCard-content {
  padding: 0;
}

.ArticleCard-title {
  margin: 8px 0;
  font-size: 13px;
  font-family: Helvetica;
  color: $color-blue;
  letter-spacing: 0;
  line-height: 13px;
  font-weight: 500;
  cursor: pointer;
}

.ArticleCard-title a {
  text-decoration: none;
}

.Paging {
  margin-top: -32px;
}
.Paging-button {
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
  padding: 4px;
  font-size: 8px;
  color: $color-blue;
  font-weight: 700;
  width: 28px;
  height: 28px;
  border: none;
}

.Paging-active-button {
  cursor: pointer;
  background: $color-blue;
  border-radius: 4px;
  padding: 4px;
  font-size: 8px;
  color: white;
  font-weight: 700;
  width: 28px;
  height: 28px;
  border: none;
}

.Paging button:focus {
  outline: none;
}

.Paging button:active {
  border: 1px solid $color-blue;
}

.Paging button {
  margin: 0 2px;
}
