.SvgShare {
  height: auto;
  width: 600px;
}

.ShareText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #1e1d20;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 32px;
  margin-bottom: 9px;
}
