.ToLazyToCallThis {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;

  margin-top: 70px;

  color: #1e1d20;

  mix-blend-mode: normal;
  opacity: 0.5;

  .Like-icon {
    position: relative;
    top: 0.2em;
    height: 1em;
    width: 1em;
  }
}

.ArticleCard-footer {
  font-size: 8px;
  font-weight: 800;
  font-family: Helvetica;
  color: #1e1d20;
  opacity: 0.5;

  .Like-icon {
    height: 8px;
    margin-bottom: -1.74;
    cursor: pointer;
  }
}
