.Text {
  margin-top: 30px;
  .text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    padding-top: 32px;

    color: #1e1d20;
  }
}

blockquote {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #1e1d20;
  align-content: flex-start;
  margin-left: 27px;
  display: flex;
}

blockquote:before {
  display: flex;
  color: #ccc;
  content: url('data:image/svg+xml; utf8, <svg width="72" height="48" viewBox="0 0 72 48" fill="none" xmlns="http://www.w3.org/2000/svg"> <path id="Shape" fill-rule="evenodd" clip-rule="evenodd" d="M17.4854 0C7.82724 0 0 7.81714 0 17.4601C0 27.1039 7.82724 34.9201 17.4854 34.9201C18.3041 34.9201 19.1048 34.8406 19.8952 34.7286C19.3574 40.3659 16.1383 45.213 11.5225 48C25.0651 44.0944 36.2194 31.8184 34.9708 17.1565C34.1521 7.54776 27.1418 0 17.4854 0ZM54.4199 0C44.7626 0 36.9353 7.81714 36.9353 17.4601C36.9353 27.1039 44.7626 34.9201 54.4199 34.9201C55.2394 34.9201 56.0393 34.8406 56.8297 34.7286C56.2928 40.3659 53.0728 45.213 48.4569 48C61.9988 44.0944 73.153 31.8184 71.9044 17.1565C71.0866 7.54776 64.0772 0 54.4199 0Z" fill="%23EFEFEF"/> </svg>');
  font-size: 4em;
  width: auto;
  line-height: 0.1em;
  margin-bottom: 150px;
  vertical-align: -0.4em;
  position: relative;
  top: 24px;
  right: 24px;
}
blockquote p {
  display: flex;
}
