.Comment {
  margin-top: 24px;

  .upper-comment-part {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 1px;

    color: #1e1d20;
  }

  .date {
    margin-top: 4px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;

    color: #1e1d20;

    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .comment-text {
    margin-top: 17px;

    font-family: Montserrat;
    font-stysle: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 32px;

    color: #1e1d20;
  }

  .ClickableLike {
    display: inline-block;
    fill: pink;
    height: 20px;
    float: right;
    margin-top: -20px;

    font-size: 16px;

    svg {
      top: 0.5em;
      left: 0.5em;
      height: 1em;
      width: 1em;
    }

    .like-text {
      position: relative;
      top: 6px;
      left: inherit;
    }
  }
}
