.BigLike {
  .like-text {
    margin-left: 12px;

    height: 24px;
    left: 83.87%;
    right: 0%;
    top: calc(50% - 24px / 2);

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #1e1d20;
  }

  .Like-icon {
    position: relative;
    top: 0.66em;
    height: 2em;
    width: 2em;
    fill-opacity: 1;
  }

  .Like-icon-clicked {
    fill: #ee0000;
  }
}
