@import "../variables";

.SiderSection {
  padding-bottom: 48px;
}

.SiderSection-title {
  font-family: Helvetica;
  font-size: 20px;
  color: #1e1d20;
  letter-spacing: 0;
  font-weight: 600;
  padding-bottom: 8px;

  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.NewsSider {
  float: right;
  width: 30vw;
  min-height: 100%;
}

.SiderSection-body {
  padding-top: 16px;
}

.Archive {
  color: $color-blue;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  padding-bottom: 16px;
  margin-bottom: 16px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 600;
}
