.News {
  /*background: red;*/
  height: 100vh;
  margin: 4px 10vw;
}

.NewsBody {
  width: 45vw;
  padding-right: 24px;
  min-height: 50vh;
}

.Share {
  text-align: center;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 600;
}

.Share img {
  width: 40px;
  margin: 8px 16px;
}

.EmptyNews {
  width: 100%;
  height: auto;
  margin-bottom: 48px;
  text-align: center;
  padding: 40px 0;
  font-size: 24px;
  font-family: Helvetica;
}
