.Page {
  margin-right: 146px;

  h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
  }

  .container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 125px;

    margin: 0 147px;
  }

  .image {
    border-radius: 3px;
    padding-top: 24px;
  }

  hr {
    border: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
  }

  .header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 46px;
    margin-bottom: 0px;
    /* identical to box height, or 209% */

    color: #1e1d20;
  }
}
