@import "../variables";
.NewsTag {
  background: #f3f2f2;
  opacity: 0.6;
  font-family: Helvetica;
  color: #1e1d20;
  letter-spacing: 1px;
  border-radius: 3px;
  width: min-content;
  padding: 6px;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 8px 8px 0;
}
.ClickableNewsTag {
  cursor: pointer;
}

.ClickableNewsTag:hover {
  background: #ccd9ff;
}

.NewsTag-active {
  opacity: 1;
  background: $color-blue;
  color: white;
}
.NewsTag-active:hover {
  background: $color-blue;
}
